
.logo2{
    margin-top: 20px;
    margin-left: 210px;
    width: 90%;
}
.prof{
    font-family: Calibri;
     text-align:center;
     font-size:210%;
     margin-top:20px;
     word-spacing:4px;
}
.email{
    font-family: calibri; 
    width:110%
}
.em1{
    padding:5px; 
    width: 95%; 
    margin-top:5px; 
    border-radius:5px
}
.password{
    margin-top:15px;
    font-family: calibri;
     width:100%
}
.pw1{
    padding:5px; 
    width: 95%; 
    margin-top:5px; 
    border-radius:5px
}
.agree{
    font-size: smaller;
    text-align:center
}
.join{
    padding:17px;
     width: 100%; 
     margin-top:2px;
    border-radius:30px ; 
    background-color:#0a66c2 ; 
    color:white ;font-weight:bold ; 
    font-size:15px;
    border:none
}
.btn2{
    padding:7px;
    margin-top:2px; 
    border-radius:30px ; 
    background-color:white ; 
    color:black ; 
    font-size:17px; 
    border-color:rgb(211, 211, 216)
}
.pre{
    font-size:small;
    font-weight:lighter;
    text-align:center;
    font-family: serif;
}
.sec23{
    margin-top: 30px;
    margin-left: 37%;
    margin-right: 40%;
    width: 23%;
    padding: 20px;
    background-color: white;
    justify-content: center;
    border-radius: 15px;
}

